<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog-Application</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body class="bg-dark text-light">
    <!-- Container -->
    <header class="container my-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">Blog-Application</h1>
        </div>
      </div>
    </header>
    <!-- Container -->

    <main>
      <section>
        <div class="container my-5">
          <div class="row">
            <!-- Frontend -->
            <div class="col-sm-6 mb-2">
              <div class="card bg-light">
                <div class="card-body">
                  <h2 class="card-title text-center">
                    Frontend of Blog-Application
                  </h2>
                </div>
                <div>
                  <div class="d-flex justify-content-around my-3">
                    <h3>JavaScript</h3>
                    <a
                      href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                      target="_blank"
                      class="btn btn-primary"
                    >
                      JavaScript Documentation
                    </a>
                  </div>
                  <div class="d-flex justify-content-around my-3">
                    <h3>React</h3>
                    <a
                      href="https://reactjs.org"
                      target="_blank"
                      class="btn btn-primary"
                    >
                      React Documentation
                    </a>
                  </div>
                  <div class="d-flex justify-content-around my-3">
                    <h3>Vite</h3>
                    <a
                      href="https://vitejs.dev"
                      target="_blank"
                      class="btn btn-primary"
                    >
                      Vite Documentation
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Backend -->
            <div class="col-sm-6 mb-2">
              <div class="card bg-light">
                <div class="card-body">
                  <h2 class="card-title text-center">
                    Backend of Blog-Application
                  </h2>
                </div>
                <div>
                  <div class="d-flex justify-content-around my-3">
                    <h3>Node</h3>
                    <a
                      href="https://nodejs.org/en"
                      target="_blank"
                      class="btn btn-primary"
                    >
                      Node Documentation
                    </a>
                  </div>
                  <div class="d-flex justify-content-around my-3">
                    <h3>Express</h3>
                    <a
                      href="https://expressjs.com"
                      target="_blank"
                      class="btn btn-primary"
                    >
                      Express Documentation
                    </a>
                  </div>
                  <div class="d-flex justify-content-around my-3">
                    <h3>MongoDB</h3>
                    <a
                      href="https://www.mongodb.com"
                      target="_blank"
                      class="btn btn-primary"
                    >
                      MongoDB Documentation
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
